name: Discord Repo Updates

on: [push, pull_request, release]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps: 
      - name: Send message to Discord
        env:
          WEBHOOK: ${{secrets.DISCORD_WEBHOOK_URL}}
        run: |
          curl -H "Content-Type: application./json" \
          -d "{\"content\":\"New push by ${{ github.actor }} to ${{ github.ref_name }}: ${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}\"}" \
          "$DISCORD_WEBHOOK_URL"
